/*********************UNIVERSAL STYLES***********************/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

main {
	background-color: #e5ddbf;
}

/* font-family: 'Calistoga', cursive;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
background color: #e5ddbf
dark green: #2d3417  */

/*********************HEADER***********************/
header {
	width: 100%;
}
header img {
	max-width: 8%;
	margin: 17px 2% 0 3%;
}

h1 {
	color: #2d3417;
	font-family: 'Calistoga', cursive;
	font-size: 6vw;
	display: flex;
  justify-content: center;
}

.desktop-sm {
	display: none;
}

h2 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 4.5vw;
	margin-top: 7px;
}

header hr {
	margin: 20px 0 10px;
	height: 2px;
	clear: both;
	background-color: black;
}

/*********************MOBILE NAV***********************/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding: 5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666; font-family: 'Source Sans Pro', sans-serif;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}


.desktop-menu {
	display: none;
}

.desktop_sm {
	display: none;
}
/*********************END MOBILE NAV***********************/

/*********************INDEX STYLES- many carry over to other pages***********************/
article img, aside img {
	max-width: 100%;
	margin-bottom: 10px;
}

.home_main_story {
	margin: 0 4% 25px;
}

h3 a {
	text-decoration: none;
	color: black;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 5px;
  font-weight: 800;
	font-size: 1.6em;
}

.article_author {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	margin-bottom: 10px;
	font-size: 1em;
}

.article_description {
	font-family: 'Merriweather', serif;
	margin-bottom: 31px;
  font-size: 1em;
}

.article_divider {
	height: 2px;
	background-color: black;
	margin-bottom: 35px;
}

.home_flex_600 {
	display: none;
}

.home_aside {
	margin: 0 4% 0 4%;
}

figcaption {
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 10px;
}

h4 a {
	color: black;
	font-family: 'Merriweather', serif;
	font-size: 1.4em;
	font-weight: 800;
	text-decoration: none;
}

h4 {
	margin-bottom: 28px;
}

.home_section {
	margin: 0 4% 0 4%;
}

h5 {
	font-family: 'Source Sans Pro', sans-serif;
	margin: -10px 0 10px 0;
	font-size: 1.1em;
  font-weight: 400;
}

.other_news {
	display: none;
}
.home_section ul {
	list-style-type: none;
}

.home_section ul li {
	padding: 5% 0;
	border-bottom: 2px solid black;
}

.home_section ul li a {
	text-decoration: none;
	color: black;
	font-family: 'Merriweather', serif;
	font-weight: 800;
}
/*********************END INDEX STYLES***********************/

/*********************LOCAL NEWS STYLES***********************/
.local_main_story, .local_aside, .local_section {
	margin: 0 4% 25px;
}

.local_section ul {
	list-style-type: none;
}

.local_section ul li {
	padding: 5% 0;
	border-bottom: 2px solid black;
	font-family: 'Merriweather', serif;
	font-weight: 800;
}

.more_news {
	margin: -10px 0 30px 0;
}
/*********************END LOCAL NEWS STYLES***********************/

/*********************OPINION STYLES***********************/

.opinion_main_story, .opinion_aside, .opinion_section {
	margin: 0 4% 25px;
}

.opinion_author {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	margin-bottom: 10px;
	font-size: 1em;
}

.opinion_container h4 {
  margin-bottom: 10px;
}

.opinion_container hr {
	margin-bottom: 25px;
}

.opinion_section h5 {
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 1.6em;
}

.opinion_section ul {
  margin-left: 5%;
}

.opinion_section ul li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.opinion_article_divider {
	margin: 35px 0;
}
/*********************END OPINION STYLES***********************/

/*********************CULTURE STYLES***********************/

section img, .review_image {
	max-width: 100%;
}

/*********************HOROSCOPE SLIDER STYLES***********************/
.callbacks_container h3{
	font-size: 1.3em;
	margin-bottom: 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
 	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	}

	.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

	a {
	  color: #fff;
	  text-decoration: none;
	  }


.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

	.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

/*********************END HOROSCOPE SLIDER STYLES***********************/

/*********************END CULTURE STYLES***********************/

/*********************FOOTER***********************/
footer {
	margin-top: 30px;
	padding-bottom: 10px;
}

footer hr {
	display: none;
}
/************************************************TOPBOX***************************/
.sponsor{
	text-align: center;
	display: block;
  margin: 30px;
}

a.button,
a.button:visited,
section.even a.button,
section.even a.button:visited,
.button-group a.button,
.button-group a.button:visited {
	background-color: #2d3417;
	color: #e5ddbf;
  padding: 12px;
  border-radius: 12px;
	font-family: 'Source Sans Pro', sans-serif;
}

.topbox_open .topbox_blur_wrapper {
  filter: blur(1px);
}

.topbox_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99995;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topbox_overlay,
.topbox_overlay *,
.topbox_overlay *:before,
.topbox_overlay *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.topbox_fill {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topbox_overlay.topbox_open {
  visibility: visible;
  opacity: 1;
}

.topbox_wrapper {
  position: absolute;
  z-index: 99996;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.topbox_content {
  position: relative;
  z-index: 99998;
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
}

.topbox_title_wrap {
  position: relative;
  z-index: 99998;
}

.topbox_nav {
  display: none;
}

.topbox_prev,
.topbox_next,
.topbox_close {
  position: absolute;
  z-index: 99999;
  background: none;
  border: none;
  cursor: pointer;
}

.topbox_prev {
  left: 0;
}

.topbox_next {
  right: 0;
}

.topbox_close {
  top: 0;
  right: 0;
}

.topbox_close_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99997;
}

.topbox_image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
}

.topbox_content .plyr {
  min-width: 100%;
}

.topbox_inline,
.topbox_ajax {
  max-height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}

.topbox_error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.topbox_error p {
  display: table-cell;
  vertical-align: middle;
}

.topbox_notouch .topbox_effect_fade,
.topbox_notouch .topbox_effect_slideLeft,
.topbox_notouch .topbox_effect_slideRight,
.topbox_notouch .topbox_effect_slideUp,
.topbox_notouch .topbox_effect_slideDown {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* slideLeft / slideRight / slideUp / slideDown */
.topbox_notouch .topbox_effect_slideLeft .topbox_content,
.topbox_notouch .topbox_effect_slideRight .topbox_content,
.topbox_notouch .topbox_effect_slideUp .topbox_content,
.topbox_notouch .topbox_effect_slideDown .topbox_content {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.topbox_notouch .topbox_effect_slideLeft .topbox_content {
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

.topbox_notouch .topbox_effect_slideRight .topbox_content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}

.topbox_notouch .topbox_effect_slideLeft.topbox_open .topbox_content,
.topbox_notouch .topbox_effect_slideRight.topbox_open .topbox_content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.topbox_notouch .topbox_effect_slideDown .topbox_content {
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.topbox_notouch .topbox_effect_slideUp .topbox_content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.topbox_notouch .topbox_effect_slideUp.topbox_open .topbox_content,
.topbox_notouch .topbox_effect_slideDown.topbox_open .topbox_content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* Our default lightbox skin (darkroom) */
.topbox_open .topbox_blur_wrapper {
  filter: blur(1px);
}

.topbox_skin_forest .topbox_fill {
  background-image: url(images/forest.jpg);
  background-size: cover;
}

.topbox_skin_forest .topbox_error,
.topbox_skin_forest .topbox_pdf_mobile_message {
  color: #ffffff;
  font-size: 18px;
}

.topbox_skin_forest a.topbox_pdf_mobile_button,
.topbox_skin_forest a.topbox_pdf_mobile_button:visited {
  color: #ffffff;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: all 300ms ease-in;
  padding: 1rem;
  line-height: 1;
  display: block;
  margin-top: 1rem;
}

.topbox_skin_forest .topbox_nav {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.topbox_skin_forest .topbox_prev,
.topbox_skin_forest .topbox_next,
.topbox_skin_forest .topbox_close {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 45px;
  color: #ffffff;
  background: #000000;
  transition: all 300ms ease-in;
  width: 55px;
  line-height: 55px;
  text-align: center;
}

.topbox_skin_forest .topbox_close {
  line-height: 65px;
  margin-top: -10px;
}

.topbox_skin_forest .topbox_prev:hover,
.topbox_skin_forest .topbox_next:hover,
.topbox_skin_forest .topbox_close:hover {
  color: #cdcdcd;
}

.topbox_skin_forest .topbox_prev:before {
  content: "←"
}

.topbox_skin_forest .topbox_next:before {
  content: "→"
}

.topbox_skin_forest .topbox_close:before {
  content: "×";
}

.topbox_skin_forest .topbox_title {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background: none;
  color: #2d3417;
  background: #e5ddbf;
  padding: 10px 20px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
	border-radius: 12px;
}
/************************************************END TOPBOX***************************/

footer ul {
	text-align: center;
	margin-bottom: 20px;
}

footer ul li {
	display: inline;
	margin: 0 9%;
}

footer ul li a img {
	max-width: 12%;
}

footer p {
	text-align: center;
	margin: 0 3% 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.amateur {
	padding: 0;
	font-style: italic;
}

footer p a {
	color: black;
}

/*********************END FOOTER***********************/


@media (min-width: 420px) {
	header img {
		max-width: 33px;
	}

	.home_section ul li a {
		font-size: 1.1em;
	}

	.local_section ul li {
		font-size: 1.1em;
	}
}

@media (min-width: 600px) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.3em;
	}
	h3 {
		font-size: 2em;
	}

	.article_author {
		font-size: 1.3em;
	}

	.home_main_story {
		margin: 0 4%;
	}

	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	.flexbox > * {
		flex: 1 100%;
	}

	.home_aside, .home_section {
		flex: 1 1;
		margin-top: 10px;
	}

	.home_flex_600 {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		padding-bottom: 20px;
		border-bottom: 2px solid black;
		margin: 0 4%;
	}

	.home_aside{
		border-right: 2px solid black;
		padding-right: 4%;
		margin-right: 0;
	}

	h4 {
		margin-bottom: 30px;
	}

	h4 a {
		font-size: 3.7vw;
	}

	.laptop_woman {
		padding: 15px 0 5px;
	}

	.eyesore {
		padding: 30px 0 5px;
	}

	.home_section h5{
		display: none;
	}

	.home_section ul li {
		padding: 15px 0;
		border-bottom: 2px solid black;
	}

	.article_divider_2 {
		display: none;
	}

	.home_section ul li a {
		font-size: 3.2vw;
	}

	.home_section .final_li {
		border-bottom: none;
	}

	.article_divider_3 {
		display: none;
	}

	.sa_newswire {
		padding-bottom: 15px;
		margin-bottom: 10px;
		font-size: 2em;
		text-align: center;
		font-weight: 500;
		border-bottom: 2px solid black;
	}

	.local_section ul li {
		padding: 15px 0;
	}

	.local_section .final_li {
		border-bottom: none;
	}

	.more_news {
		padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
	}

	footer {
		margin-top: 5px;
	}

	footer hr {
		display: block;
		border-top: 2px solid black;
    margin-bottom: 18px;
	}

	footer ul li a img {
		max-width: 72px;
	}
}


@media (min-width: 750px) {

	.local_flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	.local_flexbox > * {
		flex: 1 100%;
	}

	.local_aside_container {
		display: flex;
		justify-content: space-between;
	}

	.local_article_preview {
		flex: 1 1 1;
		flex-basis: 30%;
	}

	.local_header {
		order: 1;
	}

	.local_main_story, .local_section {
		order: 2;
		flex: 1 1;
	}

	.local_aside {
		order: 3;
		border-top: 2px solid black;
		padding-top: 30px;
		margin-bottom: 0;
	}

	.local_footer {
		order: 4;
	}

	.local_main_story {
		flex-grow: 2;
	}

	.local-section {
		flex-grow: 1;
	}

	.local_main_story {
		margin-right: 0;
	}

	.local_section {
		padding-top: 20px;
	}

	.local_main_story, .local_section {
		margin-bottom: 5px;
	}

	.local_article_description {
		font-size: 1.2em;
		margin-bottom: 25px;
	}

	.sa_newswire {
		font-size: 1em;
		text-align: left;
		font-weight: 700;
	}

	.local_section ul li {
		font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1em;
	}

	.local_section .local_top_li {
		padding-top: 0;
	}

	.article_divider750 {
		display: none;
	}

	.local_article_preview h4 a {
		font-size: 1em;
	}
}

@media (min-width: 850px) {
	body {
		background-image: url("images/florida_brush_2.jpg");
		background-color: #2d3417;
	}

	div {
    padding: 2% 0 2% 0;
	}

	.menu, .hamburger, .cross {
		display: none;
	}

	.desktop-sm {
		display: block;
		float: right;
		list-style-type: none;
		width: 200px;
	}

	.desktop-sm li {
		display: inline;
		padding-left: 15px;
	}

	h1 {
		clear: both;
	}

	h2 {
		margin-bottom: 40px;
	}

	.desktop-menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-around;
	}

	.desktop-menu a {
		text-decoration: none;
	  display: block;
	  padding: 0 1em 0;
		color: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.7em;
		font-weight: 700;
	}
	.home_flex_600 {
		display: none;
	}

	.home_main_story {
		flex: 2 0px;
	}

	.home_section {
		order: 1;
		margin: 0 2%;
		border-right: 2px solid black;
	}

	.home_main_story {
		order: 2;
		margin: 0;
	}

	.home_aside {
		order: 3;
		margin: 0 2%;
		padding-right: 0;
		border-left: 2px solid black;
		border-right: none;
		padding-left: 1%
	}

	footer {
		order: 4;
	}

	.article_preview {
		padding-left: 10px;
	}

	h4 a {
		font-size: 1.2em;
	}

	.home_section ul {
		padding-right: 9px;
	}

	.home_section ul li {
		padding: 5% 0;
		margin-right: 4%;
	}

	.home_section ul li a {
		text-decoration: none;
		color: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 500;
		font-size: 1.07em;
		padding-right: 1%;
	}

	.home_section .other_news {
		display: inline;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		border-bottom: 2px solid black;
		padding: 0;
	}

	h3 {
		font-size: 2em;
	}

	.article_author {
		font-size: 1.2em;
	}

	.local_article_author {
    margin-bottom: 15px;
	}

	.article_description {
		font-size: 1.1em;
	}

	.local_article_preview h4 a {
    font-size: 1.2em;
	}

	.local_headline {
    font-size: 1.5em;
	}

	.local_section ul li {
    font-size: 1.1em;
	}

	.more_news {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.local_aside_container {
    margin: 15px 0 0 0;
		padding: 0;
	}

 	footer {
		margin-top: 10px;
	}

	footer hr {
		display: block;
		border-top: 2px solid black;
    margin-bottom: 18px;
	}
	footer ul {
		display: none;
	}
}

@media (min-width: 900px) {

	.home_section ul li a {
	    font-size: 1.15em;
	}

	.local_main_story {
		flex-grow: 3;
    padding-right: 3%;
		border-right: 2px solid black;
	}

	.local_headline {
		margin-bottom: 10px;
    font-size: 1.8em;
	}

	.local_article_author {
    margin-bottom: 20px;
	}

	.local_article_description {
		line-height: 150%;
	}

	.local_main_image {
		margin-bottom: 15px;
	}

	.local_section {
		padding-top: 30px;
    margin: 0 4% 25px 3%;
	}

	.local_section ul li {
    font-size: 1em;
	}

	.sa_newswire {
		font-size: 1.2em;
	}
}


@media (min-width: 1000px) {


	.home_section ul li a {
		font-size: 1.2em;
	}

	.local_section ul li {
	    font-size: 1.2em;
	}
}

@media (min-width: 1100px) {
	h3 {
		font-size: 2.7em;
	}
	.article_description {
		font-size: 1.3em;
	}

	h4 a {
    font-size: 1.7em;
	}

	.home_section ul li a {
		font-size: 1.4em;
	}

	.local_headline {
		font-size: 1em;
	}

	.article_description {
    font-size: 1.1em;
	}

	footer p {
		font-size: 1.2em
	}
}

@media (min-width: 1200px) {

	.home_section ul {
		margin-top: 10px;
	}

	.home_section .other_news {
		font-size: 1.2em;
	}

	.home_section ul li a {
    font-size: 1.43em;
	}
}

@media (min-width: 1250px) {
	.local_section ul li {
	    font-size: 1.25em;
	}

	.local_headline {
    font-size: 1.3em;
	}
}


@media (min-width: 1300px) {
	.home_main_story {
		flex: 3 0px;
	}

	h3 {
		margin-bottom: 10px;
	}

	.article-author {
		margin-bottom: 10px;
	}

	article img {
		margin-bottom: 20px;
	}

	.home_section ul li a {
		font-size: 1.36em;
	}

	.local_section ul li {
			font-size: 1.3em;
	}

@media (min-width: 1350px) {
	.local_article_description {
		max-width: 900px;
	}

	.local_section ul li {
    font-size: 1.4em;
	}
}

}

@media (min-width: 1400px) {
	.home_section ul li a {
		font-size: 1.45em;
	}

	.local_headline {
	    font-size: 1.5em;
	}
}

@media (min-width: 1450px) {
	.local_section {
    margin: 0 4% 25px 4%;
	}

	.local_section ul li {
    font-size: 1.5em;
	}

	.local_article_preview h4 a {
	    font-size: 1.4em;
	}
}

@media (min-width: 1500px) {
	h1 {
	    font-size: 6em;
	}

	h2 {
	    font-size: 3em;
    	margin-bottom: 50px;
	}

	.home_main_story h3 {
    font-size: 3.5em;
	}

	.local_headline {
	    font-size: 1.5em;
	}

	.home_section ul li a {
    font-size: 1.55em;
	}

	figcaption {
		font-size: 1.5em;
	}

	h4 a {
    font-size: 1.9em;
	}

	.vertical_align {
		max-width: 1500px;
		margin: 0 auto;
	}


}
